.my_name {
    text-align: center;
    background-color: cadetblue;
}

.amount {
    color: blue;
    font-size: 20px;
}

.dot {
    height: 25px;
    width: 48px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: red;
    text-align: center;
}

.center {
    text-align: center;
}

.angle {
    color: grey;
    background: oldlace;
    border-radius: 50px;
}